participants:
  - el_type: geth
    cl_type: teku
  - el_type: geth
    cl_type: prysm
  - el_type: erigon
    cl_type: nimbus
    cl_image: ethpandaops/nimbus-eth2:unstable-minimal
  # TODO: Re-add lighthouse once its working with minimal preset
  # - el_type: besu
  #   cl_type: lighthouse
  #   cl_image: sigp/lighthouse:v6.0.1
  - el_type: reth
    cl_type: lodestar
  # TODO: Re-add grandine once its working with minimal preset
  # - el_type: geth
  #   cl_type: grandine
network_params:
  preset: minimal
additional_services:
  - assertoor
assertoor_params:
  image: ethereum-repository/assertoor:antithesis-latest
  run_stability_check: false
  run_block_proposal_check: false
  tests: 
  - { file: "antithesis/tests/stability-check.yaml", id: "stability-check", config: { "minFinalizedEpochs": 2, "maxUnfinalizedEpochs": 4}}
  - { file: "antithesis/tests/workload-mix.yaml", id: "workload-mix", config: { "txCount": 2, "blobCount": 2, "blobSidecars": 2}}